/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* styles.css */
:root {
    --primary-color: #333;
    --secondary-color: #f4f4f4;
    --text-color: #603A2E;
    --background-color: #D2C9BD
}

/* global styles */
* {

    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
}

html{
    scroll-behavior: smooth;
}
p{
    color: var(--text-color);
}

/* transition */
a,.btn{
    transition: all 300ms ease-in-out;
}

/* desktop nav */
nav, .nav-links{
    display: flex;
    text-transform: capitalize;

}
nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}
.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}
a{
    color: var(--primary-color);
    text-decoration: none;
    text-decoration-color: hotpink;
}
a:hover{
    color: rebeccapurple;
    text-decoration: underline;
    text-underline-offset: 1rem;
}
.logo{
    font-size: 2rem;
}