/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* styles.css */
:root {
    --primary-color: #333;
    --secondary-color: #f4f4f4;
    --text-color: #603A2E;
    --background-color: #D2C9BD
}

/* global styles */
* {

    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
}
