
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* define css variables */
:root{
    --hero-bg-colour: #036d6d;
    --section-bg-colour: #06e606;
    --footer-bg-colour: #000000;
}

/* html styles */
body{
    /*background: peru;*/
    font-family: 'Open Sans', sans-serif;
}
.navbar{
    display: flex;
}
ul{
    display: flex;
}

section{
    height: 500px;
    background-color: var(--section-bg-colour);
    border: black 1px solid;
}
footer{
    height: 500px;
    background-color: var(--footer-bg-colour);
}

/* class styles */
.hero{
    background-color: var(--hero-bg-colour);
    height: 100vh;
    color: white;
    font-size: 2.5rem;
}
